/*-- Header Editing --*/

h1{
   
   font-size:3.4375em; /*-- 55px --*/
   opacity:0.9;
   color:#f0f0ff;
   text-shadow:7px 5px 5px red;
   
   
}

h2{
   font-size:1.5625em;/*-- 25px --*/
   text-decoration:underline;
   text-shadow:3px 4px 4px red;
   padding-top:3.79746835443%;/*30px*/
   color:#f0f0ff;
}

h1, h2{
   font-family: Skranji, cursive;
   text-align:center;
}

img.thumbs{
   display:block;
   margin:0 auto;
}



/*-- Navigation --*/

nav ul{
   width:87.777777777778%;/*790px*/
   margin: 0 auto;
   background: #000;
   list-style-type: none;
   padding:0;
   overflow:hidden;
   margin:0 auto;
    
}

nav ul li{
   width:24.683544303797%;/*195px*/
   float:left;
   background:#000;       
}

nav ul a{
   text-decoration: none;
   display: block;
   height:30px;
   line-height: 30px;
   text-align: center;     
}

/*-- Body styling --*/

body{
   width:100%;/*900px*/
   margin:0 auto;
   font-family: 'Oranienbaum', serif;
   font-size:100%;
   max-width:960px;
}

section span{
   font-style:italic;
   font-weight:bold;
}

p{
   color:#828a8f;
   width:87.777777777778%;/*790px*/
   margin:0 auto;
   text-align:center;
}

aside{
   color:#828a8f;
}

aside ul li{
   list-style-type:disc;
}

aside ul{
   -moz-column-count:3;
   -moz-column-gap:35px;
}  



/*-- Link Styling --*/

a:link{
   color:red;
}

a:visited{
   color:blue;
}

a:hover{
   color:#f0f0ff;
   text-shadow:7px 5px 5px white;
} 

a:active{
   color:green;
}


/*-- Background --*/

body{
   background-image: url("../images/deadpool_logo.jpg");
     
}


/*-- Footer Editing --*/

footer{
   color:#828a8f;
}

footer a:link{
   color:yellow;
   
}

footer a:visited{
   color:blue;
}

footer a:hover{
   color:#f0f0ff;
   text-shadow:7px 5px 5px white;
} 

footer a:active{
   color:green;
}

/*-- Sample Gallery Editing--*/

div ul{
   list-style-type: none;
   margin:20px auto;
   width:780px;
   overflow:hidden;
   padding:5px;
}

div ul li{
   float:left;
   margin-left:80px;
   margin-top:10px;
}

div ul a{
   border:5px solid #fff;
   display:block;
   height: 260px;
   width:260px;
}

div a:visited{
   border-color:navy;
}

div a:hover{
   border-color:#f00;
}    

div a:active{
   border-color:gray;
}





