/*-- Header Editing --*/

h1{
   
   font-size:3.4375em; /*-- 55px --*/
   opacity:0.9;
   color:#f0f0ff;
   text-shadow:7px 5px 5px red;
   
   
}

h2{
   font-size:1.5625em;/*-- 25px --*/
   text-decoration:underline;
   text-shadow:3px 4px 4px red;
   padding-top:3.79746835443%;/*30px*/
   color:#f0f0ff;
}

h1, h2{
   font-family: Skranji, cursive;
   text-align:center;
}

img.thumbs{
   display:block;
   margin:0 auto;
   width:55.555555555556%;/*500px/900px*/
   max-width:100%;
}



/*-- Navigation --*/

nav ul{
   width:87.777777777778%;/*790px*/
   margin: 0 auto;
   background: #000;
   list-style-type: none;
   padding:0;
   overflow:hidden;
   margin:0 auto;
    
}

nav ul li{
   width:24.683544303797%;/*195px*/
   float:left;
   background:#000;       
}

nav ul a{
   text-decoration: none;
   display: block;
   height:30px;
   line-height: 30px;
   text-align: center;     
}

/*-- Body styling --*/

body{
   width:100%;/*900px*/
   margin:0 auto;
   font-family: 'Oranienbaum', serif;
   font-size:100%;
   max-width:960px;
}

section span{
   font-style:italic;
   font-weight:bold;
}

p{
   color:#828a8f;
   width:87.777777777778%;/*790px*/
   margin:0 auto;
   text-align:center;
}

aside{
   color:#828a8f;
}

aside ul li{
   list-style-type:disc;
}

aside ul{
   -moz-column-count:3;
   -moz-column-gap:35px;
}

#join{
   font-size:3.4375em;
   text-shadow:3px 4px 4px red;
   text-align:center;
   padding-bottom:3.79746835443%;/*30px*/
}

#join a{
   color:white;
}  



/*-- Link Styling --*/

a:link{
   color:red;
}

a:visited{
   color:blue;
   
}

a:hover{
   color:#f0f0ff;
   text-shadow:7px 5px 5px white;
   text-decoration:underline;
} 

a:active{
   color:green;
}


/*-- Background --*/

body{
   background-image: url("../images/deadpool_logo.jpg");
     
}


/*-- Footer Editing --*/

footer{
   color:#828a8f;
   text-align:center;
}

footer a:link{
   color:yellow;
   
}

footer a:visited{
   color:blue;
}

footer a:hover{
   color:#f0f0ff;
   text-shadow:7px 5px 5px white;
} 

footer a:active{
   color:green;
}

/*-- Sample Gallery Editing--*/

div ul{
   list-style-type: none;
   margin:2.222222222222% auto;/*20px*/
   width:87.777777777778%;/*790px/900px*/
   overflow:hidden;
   padding:0.641025641026%;/*5px/780px*/
}

div ul li{
   float:left;
   margin-left:8.888888888889%;/*80px/900px*/
   margin-top:1.111111111111%;/*10px/900px*/
   
}

div ul a{
   border:5px solid #fff;
   display:block;
   height:260px;
   width:260px;
   
   
}

div a:visited{
   border-color:navy;
}

div a:hover{
   border-color:#f00;
}    

div a:active{
   border-color:gray;
}

/*-----------table Editing------------*/

table{
     border-collapse: collapse;
     margin:auto;
     padding-top:4.531722054381%;
     background-color:white;

}

td{
   border:1px solid #000;
   padding:0.4em;
}

th{
   text-align:left;
   background-color: red;
   color:#000;
   border:1px solid #000;
    padding:0.4em;
}

#odd1{
         background-color: gray;
}

#odd2{
         background-color: gray;
}



/*=Media Queries
==============================================*/

/*Tablet Portrait size to standard 960 (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width:959px){
body{
   background-image:none;
   background-color:red;
}

p, aside{
   color:black;
}
   
h1{
   font-size:2.8125em;/*45px*/
   opacity:0.9;
   text-shadow:7px 5px 5px black;
}

h2, #join a{
   text-decoration:underline;
   text-shadow:3px 4px 4px black;
   padding-top:3.79746835443%;/*30px*/
}

#join a:hover{
   color:blue;
}

}

/*Mobile Landscape size to Tablet Portrait (devices and browsers)*/
@media only screen and (min-width: 480px) and (max-width:767px){
body{
   background-image:none;
   background-color:white;
}
   
h1{
   font-size:2.5em;/*40px*/
   color:black;
}

h2{
   color:black;
}

#join a{
   color:black;
}

#join a:hover{
   color:blue;
   text-shadow:7px 5px 5px red;
}
   
footer a:link{
   color:orange;
}

footer a:hover{
   color:blue;
   text-shadow:7px 5px 5px red;
}

p, footer{
   font-size:0.9375em;/*15px*/
}    

}

/*Mobile Portrait size to Mobile landscape (devices and browsers)*/
@media only screen and (max-width:479px){
body{
   background-image:none;
   background-color:black;
   max-width:479px;
     }
h1{
   font-size:2.1875em;/*35px*/
}

h2{
   font-size:1.25em;/*20px*/  
}

nav ul li{
   background:gray;  
}

nav a:link{
   color:black;
}

p, footer{
   font-size:0.875em;/*14px*/
}

aside ul{
   font-size:0.875em;/*14px*/
   -moz-column-count:2;
}

#gallery{
   display:none;
}

#spimages{
   display:none;
}

footer{
   padding-top:5.063291139241%;/*40px*/
}


    
}











   








